<!DOCTYPE html>
<html lang="es">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
    <div>
        <ul
  data-te-stepper-init
  class="relative m-0 flex list-none justify-between overflow-hidden p-0 transition-[height] duration-200 ease-in-out">
  <!--First item-->
  <li
    data-te-stepper-step-ref
    data-te-stepper-step-active
    class="w-[4.5rem] flex-auto">
    <div
      data-te-stepper-head-ref
      class="bg-black flex cursor-pointer items-center pl-2 leading-[1.3rem] no-underline after:ml-2 after:h-px after:w-full after:flex-1 after:bg-[#e0e0e0] after:content-[''] hover:bg-[#f9f9f9] focus:outline-none dark:after:bg-neutral-600 dark:hover:bg-[#3b3b3b]">
      <span
        data-te-stepper-head-icon-ref
        class="my-6 mr-2 flex h-[1.938rem] w-[1.938rem] items-center justify-center rounded-full bg-[#ebedef] text-sm font-medium text-[#40464f]">
        1
      </span>
      <span
        data-te-stepper-head-text-ref
        class="font-medium text-neutral-500 after:flex after:text-[0.8rem] after:content-[data-content] dark:text-neutral-300">
        Carrito
      </span>
    </div>
    <div
      data-te-stepper-content-ref
      class="absolute w-full p-4 transition-all duration-500 ease-in-out">
      <div class=" container border-2 border-red-600 rounded-lg mx-6 py-6">
        <div class="overflow-x-auto">
            <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
              <thead class="ltr:text-left rtl:text-right">
                <tr>
                  <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                    Nombre
                  </th>
                  <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                    Fecha De Venta
                  </th>
                  <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                    Objeto
                  </th>
                  <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                  Saldo
                  </th>
                  <th class="px-4 py-2"></th>
                </tr>
              </thead>
          
              <tbody class="divide-y divide-gray-200">
                <tr>
                  <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                    Bitrina de Sala 
                  </td>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-700">24/05/1995</td>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-700">Mueble</td>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-700">$120,000</td>
                  <td class="whitespace-nowrap px-4 py-2">
                    <td
                    class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                    <div class="flex space-x-4">
                        <a href="#" class="text-blue-500 hover:text-blue-600">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="w-5 h-5 mr-1"
                            fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                        </svg>
                        <p>Edit</p>
                        </a>
                        <a href="#" class="text-red-500 hover:text-red-600">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="w-5 h-5 mr-1 ml-3"
                            fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>
                        <p>Delete</p>
                        </a>
                    </div>
                </td>
                  </td>
                </tr>
          
                <tr>
                  <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                    Estante de Sala
                  </td>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-700">04/11/1980</td>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-700">Mueble</td>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-700">$100,000</td>
                  <td class="whitespace-nowrap px-4 py-2">
                    <td
                    class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                    <div class="flex space-x-4">
                        <a href="#" class="text-blue-500 hover:text-blue-600">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="w-5 h-5 mr-1"
                            fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                        </svg>
                        <p>Edit</p>
                        </a>
                        <a href="#" class="text-red-500 hover:text-red-600">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="w-5 h-5 mr-1 ml-3"
                            fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>
                        <p>Delete</p>
                        </a>
                    </div>
                </td>
                  </td>
                </tr>
          
                <tr>
                  <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                    Mueble De Sala
                  </td>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-700">24/05/1995</td>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-700">Mueble</td>
                  <td class="whitespace-nowrap px-4 py-2 text-gray-700">$20,000</td>
                  <td class="whitespace-nowrap px-4 py-2">
                    <td
                    class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                    <div class="flex space-x-4">
                        <a href="#" class="text-blue-500 hover:text-blue-600">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="w-5 h-5 mr-1"
                            fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                        </svg>
                        <p>Edit</p>
                        </a>
                        <a href="#" class="text-red-500 hover:text-red-600">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="w-5 h-5 mr-1 ml-3"
                            fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>
                        <p>Delete</p>
                        </a>
                    </div>
                </td>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
           </div>
           <div class="flex justify-center mx-6 my-3">
            <button type="button" onclick="reloadPage()"
                class="bg-red-500 inline-block rounded bg-warning mx-10 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-black shadow-[0_4px_9px_-4px_#e4a11b] transition duration-150 ease-in-out hover:bg-orange-800 hover:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.3),0_4px_18px_0_rgba(228,161,27,0.2)] focus:bg-orange-800 focus:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.3),0_4px_18px_0_rgba(228,161,27,0.2)] focus:outline-none focus:ring-0 active:bg-orange-400 active:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.3),0_4px_18px_0_rgba(228,161,27,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(228,161,27,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.2),0_4px_18px_0_rgba(228,161,27,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.2),0_4px_18px_0_rgba(228,161,27,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.2),0_4px_18px_0_rgba(228,161,27,0.1)]">
                Actualizacion De Carrito
            </button>
            <script>
                function reloadPage() {
                  location.reload();
                }
              </script>
            <button type="button"
                class="bg-orange-500 inline-block rounded bg-warning mx-10 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-black shadow-[0_4px_9px_-4px_#e4a11b] transition duration-150 ease-in-out hover:bg-red-800 hover:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.3),0_4px_18px_0_rgba(228,161,27,0.2)] focus:bg-red-800 focus:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.3),0_4px_18px_0_rgba(228,161,27,0.2)] focus:outline-none focus:ring-0 active:bg-orange-400 active:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.3),0_4px_18px_0_rgba(228,161,27,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(228,161,27,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.2),0_4px_18px_0_rgba(228,161,27,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.2),0_4px_18px_0_rgba(228,161,27,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.2),0_4px_18px_0_rgba(228,161,27,0.1)]">
                Aplicar Oferta
            </button>
           </div>
           <div>
          
    </div>
  </li>

  <!--Second item-->
  <li data-te-stepper-step-ref class="w-[4.5rem] flex-auto">
    <div
      data-te-stepper-head-ref
      class="bg-black flex cursor-pointer items-center leading-[1.3rem] no-underline before:mr-2 before:h-px before:w-full before:flex-1 before:bg-[#e0e0e0] before:content-[''] after:ml-2 after:h-px after:w-full after:flex-1 after:bg-[#e0e0e0] after:content-[''] hover:bg-[#f9f9f9] focus:outline-none dark:before:bg-neutral-600 dark:after:bg-neutral-600 dark:hover:bg-[#3b3b3b]">
      <span
        data-te-stepper-head-icon-ref
        class="my-6 mr-2 flex h-[1.938rem] w-[1.938rem] items-center justify-center rounded-full bg-[#ebedef] text-sm font-medium text-[#40464f]">
        2
      </span>
      <span
        data-te-stepper-head-text-ref
        class="text-neutral-500 after:flex after:text-[0.8rem] after:content-[data-content] dark:text-neutral-300">
        Formulario
      </span>
    </div>
    <div
      data-te-stepper-content-ref
      class="absolute left-0 w-full translate-x-[150%] p-4 transition-all duration-500 ease-in-out">
     
          <div>
            <section class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800">
                <h2 class="text-lg font-semibold text-gray-700 capitalize dark:text-white">Formulario De Venta</h2>
            
                <form>
                    <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
                        <div>
                            <label class="text-gray-700 dark:text-gray-200" >Nombre</label>
                            <input  type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                        </div>
                          <div>
                            <form class="max-w-sm mx-2">
                                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo</label>
                                <input type="email" id="email" aria-describedby="helper-text-explanation"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="name@flowbite.com">
                        
                            </form>
                          </div>
            
                        <div>
                            <label class="text-gray-700 dark:text-gray-200" >Apellido</label>
                            <input  class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                        </div>
                        <div>
                            <form class="max-w-sm mx-2"> 
                                <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Número de Teléfono</label>
                                <input type="tel" id="phone" aria-describedby="helper-text-phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ej. 123456789">
                              </form>
                              
                        </div>
            
                        <div>
                            <form class="max-w-sm mx-6">
                                <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select your
                                    country</label>
                                <select id="countries"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            
                                    <option>United States</option>
                                    <option>Canada</option>
                                    <option>France</option>
                                    <option>Germany</option>
                                </select>
                            </form>
                        </div>
                         <div>
                         </div>
                         <div>
                            <form class="max-w-sm mx-6"> 
                                <label for="dni" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Número de DNI</label>
                                <input type="text" id="dni" aria-describedby="helper-text-dni" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="12345678">
                              </form>
                         </div>
                    </div>
    
            
                    <div class="flex justify-end mt-6">
                        <button type="submit" class="text-white bg-gray-400 hover:bg-gray-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-gray-400 dark:hover:bg-gray-400 dark:focus:ring-gray-400 ">Continuar</button>
                    </div>
                </form>
            </section>
          </div>
  
    </div>
  </li>

  <!--Tercera venta -->
  <li data-te-stepper-step-ref class="w-[4.5rem] flex-auto ">
    <div
      data-te-stepper-head-ref
      class="bg-black flex cursor-pointer items-center leading-[1.3rem] no-underline before:mr-2 before:h-px before:w-full before:flex-1 before:bg-[#e0e0e0] before:content-[''] after:ml-2 after:h-px after:w-full after:flex-1 after:bg-[#e0e0e0] after:content-[''] hover:bg-[#f9f9f9] focus:outline-none dark:before:bg-neutral-600 dark:after:bg-neutral-600 dark:hover:bg-[#3b3b3b]">
      <span
        data-te-stepper-head-icon-ref
        class="my-6 mr-2 flex h-[1.938rem] w-[1.938rem] items-center justify-center rounded-full bg-[#ebedef] text-sm font-medium text-[#40464f]">
        3
      </span>
      <span
        data-te-stepper-head-text-ref
        class="text-neutral-500 after:flex after:text-[0.8rem] after:content-[data-content] dark:text-neutral-300">
        Pago
      </span>
    </div>
    <div
      data-te-stepper-content-ref
      class="absolute border-2   flex flex-auto border-gray-700 mx-10 rounded-lg my-10 left-0 w-full translate-x-[150%] p-4 transition-all duration-500 ease-in-out"> 
      <section>
        <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
          <div class="mx-auto max-w-3xl">
            <header class="text-center">
              <h1 class="text-xl font-bold text-gray-900 sm:text-3xl">Lista De Productos</h1>
            </header>
      
            <div class="mt-8">
              <ul class="space-y-4">
                <li class="flex items-center gap-4">
                  <img
                    src="https://sodimac.scene7.com/is/image/SodimacPeru/8721998_01?wid=800&hei=800&qlt=70"
                    alt=""
                    class="h-16 w-16 rounded object-cover"
                  />
      
                  <div>
                    <h3 class="text-sm text-gray-900">Mueble Sala</h3>
      
                    <dl class="mt-0.5 space-y-px text-[10px] text-gray-600">
                      <div>
                        <dd class="inline">Precio</dd>
                      </div>
      
                      <div>
                        <dd class="inline">56$</dd>
                      </div>
                    </dl>
                  </div>
      
                  <div class="flex flex-1 items-center justify-end gap-2">
                    <form>
                      <label for="Line1Qty" class="sr-only"> Quantity </label>
      
                      <input
                        type="number"
                        min="1"
                        value="1"
                        id="Line1Qty"
                        class="h-8 w-12 rounded border-gray-200 bg-gray-50 p-0 text-center text-xs text-gray-600 [-moz-appearance:_textfield] focus:outline-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none"
                      />
                    </form>
      
                    <button class="text-gray-600 transition hover:text-red-600">
                      <span class="sr-only">Remove item</span>
      
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-4 w-4"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                        />
                      </svg>
                    </button>
                  </div>
                </li>
      
                <li class="flex items-center gap-4">
                  <img
                    src="https://falabella.scene7.com/is/image/FalabellaPE/881337600_1?wid=1500&hei=1500&qlt=70"
                    alt=""
                    class="h-16 w-16 rounded object-cover"
                  />
      
                  <div>
                    <h3 class="text-sm text-gray-900">Basic Tee 6-Pack</h3>
      
                    <dl class="mt-0.5 space-y-px text-[10px] text-gray-600">
                        <div>
                            <dd class="inline">Precio</dd>
                          </div>
          
                          <div>
                            <dd class="inline">83$</dd>
                          </div>
                    </dl>
                  </div>
      
                  <div class="flex flex-1 items-center justify-end gap-2">
                    <form>
                      <label for="Line2Qty" class="sr-only"> Quantity </label>
      
                      <input
                        type="number"
                        min="1"
                        value="1"
                        id="Line2Qty"
                        class="h-8 w-12 rounded border-gray-200 bg-gray-50 p-0 text-center text-xs text-gray-600 [-moz-appearance:_textfield] focus:outline-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none"
                      />
                    </form>
      
                    <button class="text-gray-600 transition hover:text-red-600">
                      <span class="sr-only">Remove item</span>
      
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-4 w-4"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                        />
                      </svg>
                    </button>
                  </div>
                </li>
      
                <li class="flex items-center gap-4">
                  <img
                    src="https://falabella.scene7.com/is/image/FalabellaPE/gsc_119649407_2425018_2?wid=1500&hei=1500&qlt=70"
                    alt=""
                    class="h-16 w-16 rounded object-cover"
                  />
      
                  <div>
                    <h3 class="text-sm text-gray-900">Basic Tee 6-Pack</h3>
      
                    <dl class="mt-0.5 space-y-px text-[10px] text-gray-600">
                        <div>
                            <dd class="inline">Precio</dd>
                          </div>
          
                          <div>
                            <dd class="inline">64$</dd>
                          </div>
                    </dl>
                  </div>
      
                  <div class="flex flex-1 items-center justify-end gap-2">
                    <form>
                      <label for="Line3Qty" class="sr-only"> Quantity </label>
      
                      <input
                        type="number"
                        min="1"
                        value="1"
                        id="Line3Qty"
                        class="h-8 w-12 rounded border-gray-200 bg-gray-50 p-0 text-center text-xs text-gray-600 [-moz-appearance:_textfield] focus:outline-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none"
                      />
                    </form>
      
                    <button class="text-gray-600 transition hover:text-red-600">
                      <span class="sr-only">Remove item</span>
      
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-4 w-4"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                        />
                      </svg>
                    </button>
                  </div>
                </li>
              </ul>
               
              <li class="flex items-center gap-4">
                <img
                  src="https://falabella.scene7.com/is/image/FalabellaPE/gsc_120466458_2680044_1?wid=1500&hei=1500&qlt=70"
                  alt=""
                  class="h-16 w-16 rounded object-cover"
                />
    
                <div>
                  <h3 class="text-sm text-gray-900">Basic Tee 6-Pack</h3>
    
                  <dl class="mt-0.5 space-y-px text-[10px] text-gray-600">
                      <div>
                          <dd class="inline">Precio</dd>
                        </div>
        
                        <div>
                          <dd class="inline">63$</dd>
                        </div>
                  </dl>
                </div>
    
                <div class="flex flex-1 items-center justify-end gap-2">
                  <form>
                    <label for="Line2Qty" class="sr-only"> Quantity </label>
    
                    <input
                      type="number"
                      min="1"
                      value="1"
                      id="Line2Qty"
                      class="h-8 w-12 rounded border-gray-200 bg-gray-50 p-0 text-center text-xs text-gray-600 [-moz-appearance:_textfield] focus:outline-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none"
                    />
                  </form>
    
                  <button class="text-gray-600 transition hover:text-red-600">
                    <span class="sr-only">Remove item</span>
    
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-4 w-4"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                      />
                    </svg>
                  </button>
                </div>
              </li>

              <li class="flex items-center gap-4">
                <img
                  src="https://falabella.scene7.com/is/image/FalabellaPE/881443895_2?wid=1500&hei=1500&qlt=70"
                  alt=""
                  class="h-16 w-16 rounded object-cover"
                />
    
                <div>
                  <h3 class="text-sm text-gray-900">Basic Tee 6-Pack</h3>
    
                  <dl class="mt-0.5 space-y-px text-[10px] text-gray-600">
                      <div>
                          <dd class="inline">Precio</dd>
                        </div>
        
                        <div>
                          <dd class="inline">125$</dd>
                        </div>
                  </dl>
                </div>
    
                <div class="flex flex-1 items-center justify-end gap-2">
                  <form>
                    <label for="Line2Qty" class="sr-only"> Quantity </label>
    
                    <input
                      type="number"
                      min="1"
                      value="1"
                      id="Line2Qty"
                      class="h-8 w-12 rounded border-gray-200 bg-gray-50 p-0 text-center text-xs text-gray-600 [-moz-appearance:_textfield] focus:outline-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none"
                    />
                  </form>
    
                  <button class="text-gray-600 transition hover:text-red-600">
                    <span class="sr-only">Remove item</span>
    
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-4 w-4"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                      />
                    </svg>
                  </button>
                </div>
              </li>


              
      
              <div class="mt-8 flex justify-end border-t border-gray-100 pt-8">
                <div class="w-screen max-w-lg space-y-4">
                  <dl class="space-y-0.5 text-sm text-gray-700">
                    <div class="flex justify-between">
                      <dt>Subtotal</dt>
                      <dd>£250</dd>
                    </div>
      
                    <div class="flex justify-between">
                      <dt>VAT</dt>
                      <dd>£25</dd>
                    </div>
      
                    <div class="flex justify-between">
                      <dt>Discount</dt>
                      <dd>-£20</dd>
                    </div>
      
                    <div class="flex justify-between !text-base font-medium">
                      <dt>Total</dt>
                      <dd>£200</dd>
                    </div>
                  </dl>
      
                  <div class="flex justify-end">
                    <span
                      class="inline-flex items-center justify-center rounded-full bg-indigo-100 px-2.5 py-0.5 text-indigo-700"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="-ms-1 me-1.5 h-4 w-4"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 010 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 010-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375z"
                        />
                      </svg>
      
                      <p class="whitespace-nowrap text-xs">2 Cupon De Descuento</p>
                    </span>
                  </div>
      
                  <div class="flex justify-end">
                    <a
                      href="#"
                      class="block rounded my-6 bg-orange-400 px-5 py-3 text-sm text-gray-100 transition hover:bg-gray-600"
                    >
                      Pagar
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
        
     </div>
  </li>
</ul>
    </div>

        <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
    </body>

</html>




